.book-card
  margin: 1rem

  &.list
    height: 20rem
    display: flex
    margin: 2rem
    width: calc(100% - 4rem)
    
    .card-styling
      width: 100%
      flex-direction: row
      align-items:flex-start
      height: auto
      align-items: center

      .thumbnail
        height: 14rem
        width: 10rem

      .content
        padding-left: 2rem
        display: flex
        flex-direction: column
        align-items: flex-start
        justify-content: space-between
        width: 0

        >*
          text-align: left
          white-space: nowrap
          overflow: hidden
          text-overflow: ellipsis
          width: 100%
      
        .description
          display: block
        .tags
          display: block
          float: left

  .card-styling
    text-decoration: none
    color: black
    height: 400px
    width: 250px
    flex-direction: column
    display: flex
    align-items: flex-start
    padding: 2rem

    .thumbnail
      object-fit: contain
      height: 300px
      width: 250px

    .content
      display: flex
      flex-direction: column
      align-items: flex-start
      justify-content: space-evenly
      flex-grow: 1

      >*
        padding-top: 1rem
        text-align: left
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        width: 250px

      .title
        font-weight: bold
      .description,
      .tags
        display: none
        